* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  padding: 0 300px 0 300px;
}

nav {
  height: 80px;
  overflow: hidden;
  align-items: center;
  display: flex;
  box-shadow: 5px 5px 5px #888888;
  justify-content: space-around;
}
nav .logo h1 {
  font-family: "Silkscreen", cursive !important;
  font-size: 40px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
nav ul li a:hover {
  color: rgb(128, 128, 128);
  transition: all 0.1s;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle span {
  display: block;
  width: 27px;
  height: 3px;
  background-color: #888888;
  border-radius: 2px;
  transition: all 1s;
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}
.menu-toggle input {
  position: absolute;
  width: 50px;
  margin-left: -10px;
  height: 28px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

.about {
  background-image: url("../img/backroun.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.about-content {
  justify-content: space-between;
  display: flex;
}
.about-content .about-me {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-content .about-me h1 {
  font-size: 30px;
  padding: 20px;
}
.about-content .about-me h1 .color-blue {
  color: #4382BD;
  font-family: "Silkscreen", cursive !important;
}
.about-content .about-me h1 .color-green {
  color: #bfcc48;
  font-family: "Silkscreen", cursive !important;
}
.about-content .about-me p {
  padding: 20px;
}
.about-content .about-me .button {
  margin-top: 20px;
  display: flex;
  margin-left: -120px;
  justify-content: space-evenly;
}
.about-content .about-me .button a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none !important;
}
.about-content .about-me .button .green {
  background-color: #3ED04C;
}
.about-content .about-me .button .green:hover {
  background-color: #2eaa3b;
}
.about-content .about-me .button .blue {
  background-color: #4382BD;
}
.about-content .about-me .button .blue:hover {
  background-color: #3b70a1;
}
.about-content .about-foto img {
  width: 500px;
  height: 400px;
}

.content-me {
  background-image: url("../img/at.jpg");
  background-size: cover;
  width: 100%;
}
.content-me .text-me {
  display: flex;
  justify-content: space-around !important;
}
.content-me .text-me .detail-me {
  padding: 20px;
}
.content-me .text-me .detail-me .my-contact ul {
  list-style: none;
}
.content-me .text-me .detail-me .my-contact ul li {
  float: left;
}
.content-me .text-me .detail-me .my-contact ul li a {
  display: block;
  padding: 25px;
  font-size: 25px;
  color: #3b70a1;
  text-decoration: none;
  transition: transform 0.2s;
}
.content-me .text-me .detail-me .my-contact ul li a:hover {
  transform: scale(1.05);
}
.content-me .text-me .foto-me img {
  padding: 10px;
  width: 300px;
  height: 300px;
}

.my-skill {
  background-image: url("../img/at.jpg");
  overflow: hidden;
  background-size: cover;
  text-align: center;
}
.my-skill .skill-comp {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.my-skill .skill-comp h2 {
  font-size: 35px;
}
.my-skill .skill-comp h4 {
  font-size: 30px;
  color: #bfcc48;
  font-family: "Silkscreen", cursive !important;
}
.my-skill .skill-comp .icon {
  font-size: 70px;
  color: #3b70a1;
  transition: transform 0.2s;
}
.my-skill .skill-comp .icon:hover {
  transform: scale(1.05);
}
.my-skill .skill-clus-1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.my-skill .skill-clus-1 .skill-box i {
  color: #2eaa3b;
  font-size: 40px;
  transition: transform 0.2s;
}
.my-skill .skill-clus-1 .skill-box i:hover {
  transform: scale(1.05);
}
.my-skill .skill-clus-1 .skill-box h3 {
  font-family: "Silkscreen", cursive;
  font-size: 20px !important;
  color: #bfcc48;
}
.my-skill .skill-clus-2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.my-skill .skill-clus-2 .skill-box {
  padding: 5px;
  margin: auto;
}
.my-skill .skill-clus-2 .skill-box i {
  color: #2eaa3b;
  font-size: 40px;
  transition: transform 0.2s;
}
.my-skill .skill-clus-2 .skill-box i:hover {
  transform: scale(1.05);
}
.my-skill .skill-clus-2 .skill-box h3 {
  font-family: "Silkscreen", cursive;
  font-size: 20px !important;
  color: #bfcc48;
}

.my-sertivikasi {
  background-image: url("../img/backroun.jpg");
}
.my-sertivikasi h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Silkscreen", cursive;
  color: #3b70a1;
}
.my-sertivikasi .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between !important;
}
.my-sertivikasi .card {
  margin-top: 20px;
  width: auto;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
  transition: transform 0.2s;
  box-shadow: 5px 5px 5px #888888;
}
.my-sertivikasi .card img {
  width: 300px;
}
.my-sertivikasi .card:hover {
  transform: scale(1.05);
}

.my-porto {
  background-image: url("../img/backroun.jpg");
  background-size: cover;
  margin-bottom: 10px;
  background-position: center;
}
.my-porto .container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.my-porto .container .contact {
  margin-top: 10px;
  padding: 20px;
  flex-grow: 1;
  box-shadow: 5px 5px 5px #4382BD;
  border-radius: 10px;
}
.my-porto .container .contact .btn {
  padding: 10px 24px;
  background-color: #4382BD;
  border-radius: 5px;
  border: 0;
  color: #fff;
}
.my-porto .container .contact textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.my-porto .container .contact input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.my-porto .container .contact input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
.my-porto .container aside {
  margin-top: 30px;
  flex-grow: 2;
  padding: 20px;
  margin: auto 0;
  border-radius: 10px;
  background-color: #4382BD;
  transition: transform 0.2s;
}
.my-porto .container aside h1 {
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-family: "Silkscreen", cursive;
}
.my-porto .container aside .skill-bio {
  display: flex;
  justify-content: space-evenly;
}
.my-porto .container aside .skill-bio a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border: #fff 1px solid;
  border-radius: 20px;
}
.my-porto .container aside .biodata-diri {
  display: flex;
  padding: 5px;
  color: #f3f3f3;
}
.my-porto .container aside img {
  margin: 20px;
  width: 200px;
}
.my-porto .container aside:hover {
  transform: scale(1.05);
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #f3f3f3;
}

@media screen and (max-width: 900px) {
  .my-porto .container {
    flex-direction: column;
  }
  .my-porto .container aside img {
    margin-left: 150px;
  }
  .my-sertivikasi .container {
    flex-direction: column;
  }
  .text-me {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .text-me .detail-me .my-contact ul {
    display: flex;
    justify-content: space-evenly;
  }
  .text-me .detail-me .my-contact ul li a {
    float: left;
    padding: 10px;
    font-size: 20px;
  }
  .container {
    padding: 0px;
  }
  nav ul {
    width: 50% !important;
  }
}
@media screen and (max-width: 600px) {
  .about-content {
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
  }
  .about-content .about-foto img {
    width: 300px;
  }
  .slide {
    transform: translateX(0) !important;
    opacity: 1;
  }
  .menu-toggle {
    display: flex;
  }
  .container {
    padding: 0px;
  }
  nav {
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    position: absolute;
    width: 100% !important;
    background: #2c3e50;
    top: 80px;
    z-index: 1;
    text-align: center;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul li {
    width: 100%;
    height: 100% !important;
    margin: 50px 0;
  }
  nav ul li a {
    font-size: 20px;
    color: #fff;
  }
  nav ul li a:hover {
    color: rgb(128, 128, 128);
    transition: all 0.1s;
  }
}/*# sourceMappingURL=main.css.map */